<html>
    <head>
        <title>login page - php salt and hash password - www.codeofaninja.com</title>
        <link type="text/css" rel="stylesheet" href="css/style.css"/>
    </head>
    <body>
        <div id="loginForm">
            <form action="login.php" method="post">
                <div id="formHeader">Website Login</div>

                <div id="formBody">
                    <div class="formField">
                        <input type="email" name="email" required placeholder="Email"/>
                    </div>

                    <div class="formField">
                        <input type="password" name="password" required placeholder="Password"/>
                    </div>

                    <div>
                        <input type="submit" value="Login" class="customButton"/>
                    </div>
                </div>
                <div id='userNotes'>
                    New here? <a href='register.php'>Register for free</a>
                </div>
            </form>
        </div>
    </body>
</html>