<html>
    <head>
        <link type="text/css" rel="stylesheet" href="../css/style.css"/>
    </head>
    <body>
        <div>{{ message }}<a href= {{ url }}>{{ backMessage }}</a> </div>
    </body>
</html>